.signin {
    margin: 5%;
    font-size: 25px;
    letter-spacing: 1px;
}

.register-link {
    position: absolute; 
    bottom: 5px; width: 100%;
}

.signin-button {
    margin-top: 30px;
}

.validation-errors {
    font-size: 12px;
    font-style: italic;
    color:#cc0000;
}

.signin-error-message {
    padding-top: 30px;
    font-size: 14px;
    font-style: italic;
    color:#cc0000;    
}