.signin-title {
    margin-top: 3%;
    font-size: 20px;
    letter-spacing: 1px;
}

.signin-button {
    margin: 0px;
}

.validation-errors {
    font-size: 10px;
    font-style: italic;
    color:#cc0000;
}

.signin-error-message {
    padding-top: 1px;
    font-size: 12px;
    font-style: italic;
    color:#cc0000;    
}

.register-link {
    position: absolute; 
    bottom: 5px; width: 100%;
}

.forgot {
    font-size: 13px;
}