.form-title {
    margin-top: 3%;
    font-size: 20px;
    letter-spacing: 1px;
}

.form-subtitle {
    font-size: 14px;
    color: var(--ion-color-primary);
}

.form-submit-button {
    margin: 0px;
}

.form-validation-errors {
    font-size: 10px;
    font-style: italic;
    color:#cc0000;
}

.form-error-message {
    padding-top: 1px;
    font-size: 12px;
    font-style: italic;
    color:#cc0000;    
}