.register-title {
    margin-top: 3%;
    font-size: 20px;
    letter-spacing: 1px;
}

.register-button {
    margin: 0px;
}

.validation-errors {
    font-size: 10px;
    font-style: italic;
    color: red;
}

.register-error-message {
    padding-top: 1px;
    font-size: 12px;
    font-style: italic;
    color:#cc0000;    
}